*{
    margin: 0;
    padding: 0;
}

.image-container {
    
    background-size: cover;
    position: relative; 
    height: 300px; 
    margin-top: 10em;
}


.text {
    color: #E6EDF0;
    mix-blend-mode: multiply;
    font-size: 8vw; 
    font-weight: bold;
    margin: 0 auto; 
    padding: 10px;
    width: 50%;
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    float: left;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.7);
}

.inf{
    background-color: rgba(0, 166, 255, 0.631);
  }
  .mec{
    background-color:gray;
  }

  .bec{
      background-color: rgb(197, 41, 72);
  }

  .elec{
      background-color: rgb(187, 187, 23);
  }

  .amb{
      background-color: rgb(9, 148, 9);
  }

  .cons{
      background-color: rgb(153, 107, 46);
  }

  .ali{
      background-color: orange;
  }

  .met{
      background-color: red;
  }

  .plas{
      background-color: aquamarine;
  }

  .proc{
      background-color: purple;
  }
  

  .serv{
      background-color: cadetblue;
  }

  .prac{
      background-color: olivedrab;
  }
  
  main{
      width: fit-content;
      height: fit-content;
      display: block;
      margin: auto;
      float: center;
  }
  .topic{
    width: 70vw;
    height: 50vh;
    margin: 15vh 0vw 10vh 0vw;
    background-color: white;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    float: center;
  }
  .presen{
    width: 60vw;
    height: fit-content;
    margin:  4vh 0vh 0vh 7vh;
    font-size: large;
    float: left;
}
.act{
    color: black;
    width: 60vw;
    height: fit-content;
    float:left;
    text-align: left;
    font-family: 'Open Sans';
    margin:  5vh 0vw 5vh 4vw;
    word-wrap: break-word;
    font-size: .9vw;
}

  .semestre{
    width: 70vw;
    height: fit-content;
    border-radius: 9px;
    padding:0vh 0vw 5vh 0vw;
    background-color: #fff;
    display: block;
    margin: auto;
    float: left;

  }
h1{
    width: fit-content;
    height: fit-content;;
    text-align: center;
    border-radius: 5px;
    padding: 3vh 0vw 2vh 0vw;
    display: block;
    margin: auto;
    float: center
}
  .lista{
    width: 50vw;
    height: fit-content;
    background-color: #fff;
    display: block;
    margin: auto;
    float: center;
  }
 
  .sem{
    width: fit-content;
    height: fit-content;
    list-style:none;
    text-decoration:none;
    margin: 0vh 0vw 0vh 0vw;
    font-size: 1.3vw;
  }

  .accordion {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50vw;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    float: center;
    background-color: #fff;
}
.active, .accordion:hover {
    background-color: #E6EDF0;
    color: #001021;
}
.accordion:focus{
    outline: none;
}

.accordion:after {
    font-size: 13px;
    color: #001021;
    float: right;
    margin-left: 5px;
  }
  
  .active:after { 
    color: #001021;
  }
  .pregunta{
      width: fit-content;
      height: fit-content;
      float: left;
  }

.panel {
    padding: 0vh 1vw 0vh 1vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    float: center;
    width: 50vw;
    color: #E6EDF0;
    text-align: justify;
}
.letra{
    margin-top: 2vh;
    width: 48vw;
    text-align: center;
    float: left;
    word-wrap: break-word;
}

  .maestros{
    width: 70vw;
    height: fit-content;
    float: left;
    margin: 0vh 4vw 5vh 0vw;
    padding: 0vh 0vw 4vh 0vw;
    border-radius: 9px;
    background-color: #fff;
  }
  .mst{
      width: fit-content;
      height: fit-content;
      float: left;
      margin: 5vh 0vw 0vh 0vw;
  }
  .texto{
    width: 17vw;
    height: fit-content;
    float: left;
    margin: 0vh 0vw 0vh 1vw;
    word-wrap: break-word;
  }
  img{
    width: 7vw ;
    float: left;
    margin: 0vh 0vw 0vh 2vw;
    border-radius: 6px;
  }

