*{
    margin: 0;
    padding: 0;
}

.Descripcion{
    width:90vw;
    height: fit-content;
    text-align:center;
    margin-block-start: 6%;
    margin-left: 5%;
    background-color:  #F7D09F;
    float:left;
    border-radius:20px;
}
.Titulo{
    font-size: 500%;
}
.Izquierda{
    width:38vw;
    height:85vh;
    text-align:center;
    margin:4%;
    float:left;
    border: black outset 2px ;
    border-radius:20px;
    background: #FFFFFF;
}
.Derecha{
    width:38vw;
    height:85vh;
    text-align:center;
    margin:4%;
    float:left;
    border: black outset 2px ;
    border-radius:20px;
    background-color: #FFFFFF;
}
.Division{
    width:91vw;
    height:100vh;
    text-align:left;
    float:left;
    margin-block-start: 6%;
    margin-left: 5%;
    border-radius:20px;
    background:  #001021;
}
header{
    font-size:300%;
    color:#A30000;
    text-align:center;
}
.sem{
    float:center;
    text-align:center;
    margin-left: 4%;
    color: blue;
    width: 34vw;
    height: fit-content;
}
.lista{
    width: fit-content;
    height: fit-content;
    float: left;
    margin: 7vh 0vw 0vh 0vw;
    font-size: 1.8vh;
}
li {
    list-style:none;
    text-decoration:none;
    float:left;
    margin:3%;
    width: 30vw;
}
.presen{
    width: 80vw;
    height: fit-content;
    margin: 6vh 10vw 0vh 3.5vw;
    font-size: large;
}
.act{
    color: black;
    width: 60vw;
    height: fit-content;
    float:left;
    text-align: left;
    font-size: medium;
    font-family: 'Open Sans';
    margin:  5vh 0vw 5vh 4vw;
}

.imagen{
    float:left;
    margin-right:1em
}
img{
    height:18vh;
    width:7vw;
    margin: 4vh 0vw 0vh 0vw;
    float: left;
}
.texto{
    float:left;
    text-align:left;
    width:27vw;
    height:18vh;
    margin: 4vh 0vw 0vh 0vw;
    color:black;
}

    @media screen and (max-height: 815px){
    .Descripcion{
        width: 90vw;
        height: 100vh;
        float: left;
    }
    .Division{
        float: left;
        height: fit-content;
    }
    .presen{
        width: 80vw;
        height: 25vh;
        float: left;
        margin: 0vh 5vw 0vh 5vw;
        font-size: medium;
    }
    .solo{
        width: 80vw;
        height: 50vh;
        float: left;
        margin: 0vh 5vw 0vh 5vw;
        font-size: medium;
    }
    .Derecha{
        width: 85vw;
        height: fit-content;
        margin: 4%;
    }
    .Izquierda{
        width: 85vw;
        height: fit-content;
        margin: 3%;
    }
    .sem{
        width: 67vw;
        height: fit-content;
        margin: 1.5vh 0vh 0vh 4vh;
        text-align: center;
        background-color: #001021;
    }
    .texto{
        width: 40vw;
        float: right;
        margin: 2vh 0vh 0vh 0vh;
        background-color: #A30000;
        height: 22vh;
    }
    .imagen{
        background-color: blue;
        width: 40vw;
        margin: 2vh 0vh 0vh 0vh;
    }
    
    
    
    
  }
  
  @media screen and (max-height: 815px) and (orientation: landscape){
    .cuerpo{
        background-color: #001021;
    }
    .Descripcion{
        width: 90vw;
        height: 130vh;
        float: left;
    }
    .Division{
        height:fit-content;
        
    }
    .Izquierda{
        height: fit-content;
    }
    .sem{
        width: 70vw;
        height: fit-content;
        margin: 1.5vh 0vh 0vh 9vh;
        text-align: center;
        float: left;
    }
    .Derecha{
        width: 85vw;
        height: fit-content;
        margin: 4%;
    }
    .imagen{
        background-color: blue;
        height: 40vh;
        width: 18vw;
        margin: 2vh 0vh 0vh 0vh;
    }
    .texto{
        width: 65vw;
        float: right;
        margin: 2vh 0vh 0vh 0vh;
        background-color: #A30000;
        height:40vh;
    }

  }
