/*Selector Universal*/
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Open Sans', sans-serif;
} 

.image-container {
    
    background-size: cover;
    position: relative; 
    height: 300px; 
    margin-top: 10em;
}


.text {
    background-color: #001021;
    color: #E6EDF0;
    mix-blend-mode: multiply;
    font-size: 8vw; 
    font-weight: bold;
    margin: 0 auto; 
    padding: 10px;
    width: 50%;
    text-align: center; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    float: left;
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.7);
}



.list{
  margin-top: 15vh;
}
li{
  list-style-type: none;
  margin-bottom: 5vh;
}


.principal{
  float: center;
  display: block;
  margin: auto;
  width:60vw;
  height: fit-content;
}

.topic{
  width: 60vw;
  height: 40vh;
  margin: 15vh 0vw 10vh 0vw;
  background-color: white;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: .5px rgb(172, 172, 172) solid;
}

.titulo{
  float: left;
  width: 50vw;
  height: fit-content;
  padding: 2vh ;
  word-wrap: break-word;
  color: #A30000;
}

.tema{
  float: right;
  width: 7vw;
  height: fit-content;
  padding: 1vh 0vw 1vh 0vw;
}
.tema h6{
  width: fit-content;
  height: fit-content;
  float: center;
  margin: auto;
}
.ico-sm{
  text-align: center;
  font-size: 4vh;
  width: 7vw;
  padding-top: 2vh;
  float: center;
  margin-bottom: 2vh ;
}
.ico-big{
  text-align: center;
  font-size: 3vh;
  width: 7vw;
  padding-top: 2vh;
  float: center;
  margin-bottom: 2vh ;
}

.usuario{
  float: left;
  width: 60vw;
  height: fit-content;
  padding: 1vh 1vh 0vh 3vh;
  color: #1766B5;
  
}
.tiempo{
  float: left;
  width: 60vw;
  height: fit-content;
  padding: 0vh 1vh 0vh 3vh;
  color: #1766B5;
}

.ico-t, .ico-e{
  float: right;
  font-size: 2.5vh;
  margin: 1vh;
  text-align: center;
  width: fit-content;
  height: fit-content;
  
}
.ico-t{
  color: #A30000;
}
.ico-e{
  color: #F7D09F;
}
.liga{
  width: fit-content;
  height: fit-content;
  float: left;
  border-radius: 5px;
  margin:1vh 0vw .5vh 1.5vw;
  border: none;
}
.liga:hover{
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal-body h4{
  margin-bottom: 5vh;
}
.btn-cancel{
  width: 5vw;
  height: 5vh;
  background-color: #A30000;
  border: none;
  color: #E6EDF0;
  font-size: 1.6vh;
  margin: 0vh 5vw 0vh 0vw;
}
.btn-cancel:hover{
  cursor: pointer;
}
.btn-acept{
  width: 5vw;
  height: 5vh;
  background-color: #1766B5;
  border: none;
  color: #E6EDF0;
  font-size: 1.6vh;
  margin: 0vh 5vw 0vh 10vw;
}
.btn-acept:hover{
  cursor: pointer;
}


.comment-add{
  float: left;
  width: 60vw;
  height: 20vh;
  margin: 0vh 0vw 5vh 0vw;
}
.input-comment{
  background-color: #fff;
  border: none;
  padding: 1vh 1vw 0vh .8vw;
  resize: none;
  border-radius: 5px;
}
.input-comment:focus{
  border: none;
  outline: none;
}

.comentar{
  background-color: #3E78B2;
  float: right;
  width: fit-content;
  height: fit-content;
  padding: .5vh;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #E6EDF0;
  margin: 2vh 2vh 2vh 2vh;
}
.comentar:hover{
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  background-color: #E6EDF0;
  color: #3E78B2;
}
.comentar:focus{
  outline: none;
}
.comments{
  width: 60vw;
  height: fit-content;
  display: block;
  float: left;
  
}
.comment-user{
  width: 47vw;
  height: fit-content;
  float: left;
  padding: 2vh 2vh 0vh 2vh;
  font-size: small;
  color: #1766B5;
}
.comment-time{
  font-size: small;
  width: 13vw;
  height: fit-content;
  float: right;
  padding: 2vh 2vh 0vh 2vh;
}
.comment{
  width: 60vw;
  height: fit-content;
  float: left;
  padding: 2vh;
  font-size: medium;
  font-family: 'Open Sans';
}
.reply{
font-size: 2.5vh;
padding-left: 2vw;
}


.mec{
  color:gray;
}
.inf{
  color: rgba(0, 166, 255, 0.631);
}
.bec{
    color: rgb(197, 41, 72);
}
.elec{
    color: rgb(187, 187, 23);
}
.amb{
    color: rgb(9, 148, 9);
}
.cons{
    color: rgb(153, 107, 46);
}

.ali{
    color: orange;
}

.met{
    color: red;
}

.plas{
    color: aquamarine;
}

.proc{
    color: purple;
}


.serv{
    color: cadetblue;
}

.prac{
    color: olivedrab;
}





/*Pantalla pequeña*/
@media screen and (max-height: 815px) and (min-width: 1300px){

  .principal{width: 75vw; margin-top: 30vh; }
  .topic{width: 75vw; height:50vh; }
  .titulo{font-size: 2.5vw; width: 65vw; }
  .tema{ width: 8vw; text-align: center; }
  .tema h6{font-size: 1.2vw;}
  .tema i{font-size: 2.5vw;}
  .input-comment{width: 85vw;}
  .usuario, .tiempo{font-size: 1.3vw; padding: 0vh 2vh 0vh 2vh; margin: 0.5;}
  .comment-add{ width: 75vw; height: fit-content;}
  .input-comment{width: 75vw; font-size: medium;}
  .comentar{margin: 3vh 0vw 0vh 0vw; font-size: 1.2vw;}
  .comments{width: 75vw; margin-top: 6vh; }
  .comment-time{width: fit-content;}
  .comment{width: 75vw;  font-size:medium; margin-bottom: 0;}
  .reply{float: left; padding-top: 0; font-size: medium;}
  .tiempo{font-size: 1.2vw;}
  .usuario{font-size: 1.2vw;}

}

/*Celular*/
@media screen and (max-width:400px){

  .principal{width: 90vw;}
  .topic{width: 90vw; }
  .titulo{font-size: 2.5vh; width: 69vw; }
  .tema{ width: 15vw; text-align: center;}
  .tema h6{font-size: 1.2vh;}
  .tema i{font-size: 2.5vh;}
  .input-comment{width: 80vw;}
  .usuario, .tiempo{font-size: 1.3vh; padding: 0vh 2vh 0vh 2vh; margin: 0.5;}
  .comment-add{ width: 90vw; height: fit-content;}
  .input-comment{width: 90vw; font-size: small;}
  .comentar{margin: 1vh 0vw 0vh 0vw; font-size: smaller;}
  .comments{width: 90vw; margin-top: 1vh;}
  .comment-time{width: fit-content;}
  .comment{width: 90vw;  font-size:small; margin-bottom: 0;}
  .reply{float: left; padding-top: 0; }



  

}

@media screen and (max-height:400px) and (orientation:landscape){

  .principal{width: 85vw; margin-top: 30vh; }
  .topic{width: 85vw; }
  .titulo{font-size: 2.5vw; width: 67vw; }
  .tema{ width: 17vw; text-align: center; }
  .tema h6{font-size: 1.2vw;}
  .tema i{font-size: 2.5vw;}
  .input-comment{width: 85vw;}
  .usuario, .tiempo{font-size: 1.3vw; padding: 0vh 2vh 0vh 2vh; margin: 0.5;}
  .comment-add{ width: 85vw; height: fit-content;}
  .input-comment{width: 85vw; font-size: medium;}
  .comentar{margin: 3vh 0vw 0vh 0vw; font-size: 1.8vw;}
  .comments{width: 85vw; margin-top: 6vh; }
  .comment-time{width: fit-content;}
  .comment{width: 85vw;  font-size:medium; margin-bottom: 0;}
  .reply{float: left; padding-top: 0; font-size: medium;}

}





