* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}



#LOGO{
    width: 140px;
}

body {
  background-color:#3E78B2;
  min-height: 100vh;
  width: 99.5vw;
  float: left;
}
.principal{
  background-color: transparent ;
  width: fit-content;
  height: fit-content;
  display: block;
  margin: auto;
  float: center;
}

form {
  float: left;
  width: 70vw;
  height: fit-content ;
  margin: 20vh 1vw 20vh 1vw;
  max-width: 900px;
  background: #f6f6f6;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center; 
  border-radius: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-family: Arial Black;
}

.Datos{
  background-color: #d3deec;
  padding: 10px;
  width: 42%;
  margin: 30px 0;
  font-size: 20px;
  border: none;
  border-radius: 7px;
}

#Ingresar{
    
    padding: 10px;
    width: 20%;
    margin: 30px 0;
    font-size: 20px;
}

input[type="submit"] {
  background-color: #1766B5;
  border: 0;
  color: white;
  opacity: 0.85;
  cursor: pointer;
  font-family: Arial;
  border-radius: 22px;
  margin-bottom: 0;
}

input[type="submit"]:hover {
  opacity: 1;

  
}

input[type="submit"]:active {
  transform: scale(0.95);

}

 /*Pantallas más pequeñas*/
 @media screen and (max-height: 815px) and (min-width: 1300px){
   form{ width: 57vw;}

 }
/*Celular*/
@media screen and (max-width:400px) {

  form {
    width: 87vw;
  }
  .Datos{
    width: 63vw;
  }
  #ingresar{
    width: 30vw;
  }
}

p{
  font-size: 20px;


}
  /*Celular Horizontal*/
@media screen and (max-height:400px) and (orientation:landscape){}

