@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Raleway',sans-serif;
}
.bg{
  background-image: url(../images/EXAMPLE.jpg);
  width: 100vw;
  height: 100vh;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav{
  position: absolute;
  width: fit-content;
  height: 7vh;
  background-color: transparent;
  top: 0vh;
  left: 50vw;
  align-items: center;
}
.link{
  float: center;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  margin: 2vh;
  text-decoration: none;
  text-align: center;
  color: white;
}
.link:hover{
  color: aliceblue;
  text-decoration: none;
}
.header {
  position: absolute;
  top: 17vh;
  left: 20vw;
  color: white;
  width: 24vw;
  text-align: center;
}
.titulo{
  font-size: 8vh;
}